:root {
  --dfc-dark-blue: #1C2440;
  --dfc-teal: #00A1BD;
  --dfc-red: #F15959;
  --dfc-yellow: #FFCE00;
  --dfc-light-grey: #EDEDED;
  --dfc-green: #5BA85D;
  --dfc-light-green: #256865;
  --dfc-purple: #755A88;
  --dfc-light-blue: #99D3E0;
  --dfc-dark-blue-40d: #111626;
  --dfc-dark-blue-20d: #161D33;
  --dfc-dark-blue-100t: #1C2440;
  --dfc-dark-blue-95t: #272E49;
  --dfc-dark-blue-90t: #323953;
  --dfc-dark-blue-85t: #3E445C;
  --dfc-dark-blue-80t: #494F66;
  --dfc-dark-blue-75t: #545A6F;
  --dfc-dark-blue-70t: #606579;
  --dfc-dark-blue-65t: #6B7082;
  --dfc-dark-blue-60t: #767B8C;
  --dfc-dark-blue-55t: #828695;
  --dfc-dark-blue-50t: #8D919F;
  --dfc-dark-blue-45t: #989CA9;
  --dfc-dark-blue-40t: #A4A7B2;
  --dfc-dark-blue-35t: #AFB2BC;
  --dfc-dark-blue-30t: #BABDC5;
  --dfc-dark-blue-25t: #C6C8CF;
  --dfc-dark-blue-20t: #D1D3D8;
  --dfc-dark-blue-15t: #DCDEE2;
  --dfc-dark-blue-10t: #E8E9EB;
  --dfc-dark-blue-8t: #ECEDEF;
  --dfc-dark-blue-6t: #F1F1F3;
  --dfc-dark-blue-4t: #F5F6F7;
  --dfc-dark-blue-2t: #FAFAFB;
  --dfc-teal-40d: #006171;
  --dfc-teal-20d: #008197;
  --dfc-teal-100t: #00A1BD;
  --dfc-teal-95t: #0CA5C0;
  --dfc-teal-90t: #19AAC3;
  --dfc-teal-85t: #26AFC6;
  --dfc-teal-80t: #33B3CA;
  --dfc-teal-75t: #3FB8CD;
  --dfc-teal-70t: #4CBDD0;
  --dfc-teal-65t: #59C1D4;
  --dfc-teal-60t: #66C6D7;
  --dfc-teal-55t: #72CBDA;
  --dfc-teal-50t: #7FD0DE;
  --dfc-teal-45t: #8CD4E1;
  --dfc-teal-40t: #99D9E4;
  --dfc-teal-35t: #A5DEE7;
  --dfc-teal-30t: #B2E2EB;
  --dfc-teal-25t: #BFE7EE;
  --dfc-teal-20t: #CCECF1;
  --dfc-teal-15t: #D8F0F5;
  --dfc-teal-10t: #E5F5F8;
  --dfc-teal-8t: #EAF7F9;
  --dfc-teal-6t: #EFF9FB;
  --dfc-teal-4t: #F4FBFC;
  --dfc-teal-2t: #F9FDFD;
  --dfc-red-40d: #B70F0F;
  --dfc-red-20d: #EC1C1C;
  --dfc-red-100t: #F15959;
  --dfc-red-95t: #F16161;
  --dfc-red-90t: #F26969;
  --dfc-red-85t: #F37171;
  --dfc-red-80t: #F37A7A;
  --dfc-red-75t: #F48282;
  --dfc-red-70t: #F58A8A;
  --dfc-red-65t: #F59393;
  --dfc-red-60t: #F69B9B;
  --dfc-red-55t: #F7A3A3;
  --dfc-red-50t: #F8ACAC;
  --dfc-red-45t: #F8B4B4;
  --dfc-red-40t: #F9BCBC;
  --dfc-red-35t: #FAC4C4;
  --dfc-red-30t: #FACDCD;
  --dfc-red-25t: #FBD5D5;
  --dfc-red-20t: #FCDDDD;
  --dfc-red-15t: #FCE6E6;
  --dfc-red-10t: #FDEEEE;
  --dfc-red-8t: #FDF1F1;
  --dfc-red-6t: #FEF5F5;
  --dfc-red-4t: #FEF8F8;
  --dfc-red-2t: #FEFBFB;
  --dfc-yellow-40d: #997C00;
  --dfc-yellow-20d: #CCA500;
  --dfc-yellow-100t: #FFCE00;
  --dfc-yellow-95t: #FFD00C;
  --dfc-yellow-90t: #FFD219;
  --dfc-yellow-85t: #FFD526;
  --dfc-yellow-80t: #FFD733;
  --dfc-yellow-75t: #FFDA3F;
  --dfc-yellow-70t: #FFDC4C;
  --dfc-yellow-65t: #FFDF59;
  --dfc-yellow-60t: #FFE166;
  --dfc-yellow-55t: #FFE472;
  --dfc-yellow-50t: #FFE67F;
  --dfc-yellow-45t: #FFE88C;
  --dfc-yellow-40t: #FFEB99;
  --dfc-yellow-35t: #FFEDA5;
  --dfc-yellow-30t: #FFF0B2;
  --dfc-yellow-25t: #FFF2BF;
  --dfc-yellow-20t: #FFF5CC;
  --dfc-yellow-15t: #FFF7D8;
  --dfc-yellow-10t: #FFFAE5;
  --dfc-yellow-8t: #FFFBEA;
  --dfc-yellow-6t: #FFFCEF;
  --dfc-yellow-4t: #FFFDF4;
  --dfc-yellow-2t: #FFFEF9;
  --dfc-light-grey-40d: #8E8E8E;
  --dfc-light-grey-20d: #BEBEBE;
  --dfc-light-grey-100t: #EDEDED;
  --dfc-light-grey-95t: #EDEDED;
  --dfc-light-grey-90t: #EEEEEE;
  --dfc-light-grey-85t: #EFEFEF;
  --dfc-light-grey-80t: #F0F0F0;
  --dfc-light-grey-75t: #F1F1F1;
  --dfc-light-grey-70t: #F2F2F2;
  --dfc-light-grey-65t: #F3F3F3;
  --dfc-light-grey-60t: #F4F4F4;
  --dfc-light-grey-55t: #F5F5F5;
  --dfc-light-grey-50t: #F6F6F6;
  --dfc-light-grey-45t: #F6F6F6;
  --dfc-light-grey-40t: #F7F7F7;
  --dfc-light-grey-35t: #F8F8F8;
  --dfc-light-grey-30t: #F9F9F9;
  --dfc-light-grey-25t: #FAFAFA;
  --dfc-light-grey-20t: #FBFBFB;
  --dfc-light-grey-15t: #FCFCFC;
  --dfc-light-grey-10t: #FDFDFD;
  --dfc-light-grey-8t: #FDFDFD;
  --dfc-light-grey-6t: #FDFDFD;
  --dfc-light-grey-4t: #FEFEFE;
  --dfc-light-grey-2t: #FEFEFE;
  --dfc-green-40d: #366637;
  --dfc-green-20d: #488749;
  --dfc-green-100t: #5BA85D;
  --dfc-green-95t: #63AC65;
  --dfc-green-90t: #6BB06D;
  --dfc-green-85t: #73B575;
  --dfc-green-80t: #7BB97D;
  --dfc-green-75t: #83BD85;
  --dfc-green-70t: #8CC28D;
  --dfc-green-65t: #94C695;
  --dfc-green-60t: #9CCA9D;
  --dfc-green-55t: #A4CFA5;
  --dfc-green-50t: #ADD3AE;
  --dfc-green-45t: #B5D7B6;
  --dfc-green-40t: #BDDCBE;
  --dfc-green-35t: #C5E0C6;
  --dfc-green-30t: #CDE4CE;
  --dfc-green-25t: #D5E9D6;
  --dfc-green-20t: #DEEDDE;
  --dfc-green-15t: #E6F1E6;
  --dfc-green-10t: #EEF6EE;
  --dfc-green-8t: #F1F8F2;
  --dfc-green-6t: #F5F9F5;
  --dfc-green-4t: #F8FBF8;
  --dfc-green-2t: #FBFDFB;
  --dfc-light-green-40d: #163E3D;
  --dfc-light-green-20d: #1E5351;
  --dfc-light-green-100t: #256865;
  --dfc-light-green-95t: #2F6F6C;
  --dfc-light-green-90t: #3A7774;
  --dfc-light-green-85t: #457E7C;
  --dfc-light-green-80t: #508683;
  --dfc-light-green-75t: #5B8D8B;
  --dfc-light-green-70t: #669593;
  --dfc-light-green-65t: #719C9A;
  --dfc-light-green-60t: #7CA4A2;
  --dfc-light-green-55t: #87ABAA;
  --dfc-light-green-50t: #92B3B2;
  --dfc-light-green-45t: #9CBBB9;
  --dfc-light-green-40t: #A7C2C1;
  --dfc-light-green-35t: #B2CAC9;
  --dfc-light-green-30t: #BDD1D0;
  --dfc-light-green-25t: #C8D9D8;
  --dfc-light-green-20t: #D3E0E0;
  --dfc-light-green-15t: #DEE8E7;
  --dfc-light-green-10t: #E9EFEF;
  --dfc-light-green-8t: #EDF2F2;
  --dfc-light-green-6t: #F1F5F5;
  --dfc-light-green-4t: #F6F8F8;
  --dfc-light-green-2t: #FAFBFB;
  --dfc-purple-40d: #463652;
  --dfc-purple-20d: #5E486D;
  --dfc-purple-100t: #755A88;
  --dfc-purple-95t: #7B628D;
  --dfc-purple-90t: #826A93;
  --dfc-purple-85t: #897299;
  --dfc-purple-80t: #907B9F;
  --dfc-purple-75t: #9783A5;
  --dfc-purple-70t: #9E8BAB;
  --dfc-purple-65t: #A593B1;
  --dfc-purple-60t: #AC9CB7;
  --dfc-purple-55t: #B3A4BD;
  --dfc-purple-50t: #BAACC3;
  --dfc-purple-45t: #C0B4C9;
  --dfc-purple-40t: #C7BDCF;
  --dfc-purple-35t: #CEC5D5;
  --dfc-purple-30t: #D5CDDB;
  --dfc-purple-25t: #DCD5E1;
  --dfc-purple-20t: #E3DEE7;
  --dfc-purple-15t: #EAE6ED;
  --dfc-purple-10t: #F1EEF3;
  --dfc-purple-8t: #F3F1F5;
  --dfc-purple-6t: #F6F5F7;
  --dfc-purple-4t: #F9F8FA;
  --dfc-purple-2t: #FCFBFC;
  --dfc-light-blue-40d: #3597AD;
  --dfc-light-blue-20d: #5FBACE;
  --dfc-light-blue-100t: #99D3E0;
  --dfc-light-blue-95t: #9ED5E1;
  --dfc-light-blue-90t: #A3D7E3;
  --dfc-light-blue-85t: #A8D9E4;
  --dfc-light-blue-80t: #ADDBE6;
  --dfc-light-blue-75t: #B2DEE7;
  --dfc-light-blue-70t: #B7E0E9;
  --dfc-light-blue-65t: #BCE2EA;
  --dfc-light-blue-60t: #C1E4EC;
  --dfc-light-blue-55t: #C6E6ED;
  --dfc-light-blue-50t: #CCE9EF;
  --dfc-light-blue-45t: #D1EBF1;
  --dfc-light-blue-40t: #D6EDF2;
  --dfc-light-blue-35t: #DBEFF4;
  --dfc-light-blue-30t: #E0F1F5;
  --dfc-light-blue-25t: #E5F3F7;
  --dfc-light-blue-20t: #EAF6F8;
  --dfc-light-blue-15t: #EFF8FA;
  --dfc-light-blue-10t: #F4FAFB;
  --dfc-light-blue-8t: #F6FBFC;
  --dfc-light-blue-6t: #F8FCFD;
  --dfc-light-blue-4t: #FAFDFD;
  --dfc-light-blue-2t: #FCFEFE;
  --dfc-dark-blue-2l: #F0F2F9;
  --dfc-dark-blue-4l: #E2E6F2;
  --dfc-dark-blue-6l: #D3D9EC;
  --dfc-dark-blue-8l: #C5CCE6;
  --dfc-dark-blue-10l: #B6BFDF;
  --dfc-dark-blue-15l: #A8B3D9;
  --dfc-dark-blue-20l: #99A6D2;
  --dfc-dark-blue-25l: #8B99CC;
  --dfc-dark-blue-30l: #7C8DC6;
  --dfc-dark-blue-35l: #6E80BF;
  --dfc-dark-blue-40l: #5F73B9;
  --dfc-dark-blue-45l: #5166B3;
  --dfc-dark-blue-50l: #495DA6;
  --dfc-dark-blue-55l: #425597;
  --dfc-dark-blue-60l: #3C4D89;
  --dfc-dark-blue-65l: #35457A;
  --dfc-dark-blue-70l: #2F3D6C;
  --dfc-dark-blue-75l: #29345D;
  --dfc-dark-blue-80l: #263157;
  --dfc-dark-blue-85l: #242E51;
  --dfc-dark-blue-90l: #212B4C;
  --dfc-dark-blue-95l: #1F2746;
  --dfc-dark-blue-100: #1C2440;
  --dfc-dark-blue-10d: #19203A;
  --dfc-dark-blue-20d: #161D33;
  --dfc-dark-blue-30d: #14192D;
  --dfc-dark-blue-40d: #111626;
  --dfc-dark-blue-50d: #0E1220;
  --dfc-dark-blue-60d: #0B0E1A;
  --dfc-dark-blue-70d: #080B13;
  --dfc-dark-blue-80d: #06070D;
  --dfc-dark-blue-90d: #030406;
  --dfc-teal-2l: #EFFDFF;
  --dfc-teal-4l: #DFFAFF;
  --dfc-teal-6l: #CFF8FF;
  --dfc-teal-8l: #BFF5FF;
  --dfc-teal-10l: #AFF3FF;
  --dfc-teal-15l: #9FF1FF;
  --dfc-teal-20l: #8FEEFF;
  --dfc-teal-25l: #7FECFF;
  --dfc-teal-30l: #6FEAFF;
  --dfc-teal-35l: #5FE7FF;
  --dfc-teal-40l: #4EE5FF;
  --dfc-teal-45l: #3EE2FF;
  --dfc-teal-50l: #2EE0FF;
  --dfc-teal-55l: #1EDEFF;
  --dfc-teal-60l: #0EDBFF;
  --dfc-teal-65l: #00D8FD;
  --dfc-teal-70l: #00CAED;
  --dfc-teal-75l: #00BCDD;
  --dfc-teal-80l: #00B7D7;
  --dfc-teal-85l: #00B1D0;
  --dfc-teal-90l: #00ACCA;
  --dfc-teal-95l: #00A6C3;
  --dfc-teal-100: #00A1BD;
  --dfc-teal-10d: #0091AA;
  --dfc-teal-20d: #008197;
  --dfc-teal-30d: #007184;
  --dfc-teal-40d: #006171;
  --dfc-teal-50d: #00505F;
  --dfc-teal-60d: #00404C;
  --dfc-teal-70d: #003039;
  --dfc-teal-80d: #002026;
  --dfc-teal-90d: #001013;
  --dfc-red-2l: #FEF7F7;
  --dfc-red-4l: #FEEEEE;
  --dfc-red-6l: #FDE6E6;
  --dfc-red-8l: #FCDEDE;
  --dfc-red-10l: #FCD5D5;
  --dfc-red-15l: #FBCDCD;
  --dfc-red-20l: #FAC5C5;
  --dfc-red-25l: #F9BDBD;
  --dfc-red-30l: #F9B4B4;
  --dfc-red-35l: #F8ACAC;
  --dfc-red-40l: #F7A4A4;
  --dfc-red-45l: #F79B9B;
  --dfc-red-50l: #F69393;
  --dfc-red-55l: #F58B8B;
  --dfc-red-60l: #F48383;
  --dfc-red-65l: #F47A7A;
  --dfc-red-70l: #F37272;
  --dfc-red-75l: #F26A6A;
  --dfc-red-80l: #F26666;
  --dfc-red-85l: #F26363;
  --dfc-red-90l: #F26060;
  --dfc-red-95l: #F15C5C;
  --dfc-red-100: #F15959;
  --dfc-red-10d: #EE3B3B;
  --dfc-red-20d: #EC1C1C;
  --dfc-red-30d: #D51212;
  --dfc-red-40d: #B70F0F;
  --dfc-red-50d: #980D0D;
  --dfc-red-60d: #7A0A0A;
  --dfc-red-70d: #5B0808;
  --dfc-red-80d: #3D0505;
  --dfc-red-90d: #1E0303;
  --dfc-yellow-2l: #FFFDF2;
  --dfc-yellow-4l: #FFFAE5;
  --dfc-yellow-6l: #FFF8D9;
  --dfc-yellow-8l: #FFF5CC;
  --dfc-yellow-10l: #FFF3BF;
  --dfc-yellow-15l: #FFF0B3;
  --dfc-yellow-20l: #FFEEA6;
  --dfc-yellow-25l: #FFEB99;
  --dfc-yellow-30l: #FFE98C;
  --dfc-yellow-35l: #FFE780;
  --dfc-yellow-40l: #FFE473;
  --dfc-yellow-45l: #FFE266;
  --dfc-yellow-50l: #FFDF59;
  --dfc-yellow-55l: #FFDD4D;
  --dfc-yellow-60l: #FFDA40;
  --dfc-yellow-65l: #FFD833;
  --dfc-yellow-70l: #FFD526;
  --dfc-yellow-75l: #FFD31A;
  --dfc-yellow-80l: #FFD214;
  --dfc-yellow-85l: #FFD10F;
  --dfc-yellow-90l: #FFD00A;
  --dfc-yellow-95l: #FFCF05;
  --dfc-yellow-100: #FFCE00;
  --dfc-yellow-10d: #E6B900;
  --dfc-yellow-20d: #CCA500;
  --dfc-yellow-30d: #B39000;
  --dfc-yellow-40d: #997C00;
  --dfc-yellow-50d: #806700;
  --dfc-yellow-60d: #665200;
  --dfc-yellow-70d: #4D3E00;
  --dfc-yellow-80d: #332900;
  --dfc-yellow-90d: #191500;
  --dfc-light-grey-2l: #FEFEFE;
  --dfc-light-grey-4l: #FDFDFD;
  --dfc-light-grey-6l: #FCFCFC;
  --dfc-light-grey-8l: #FBFBFB;
  --dfc-light-grey-10l: #FBFBFB;
  --dfc-light-grey-15l: #FAFAFA;
  --dfc-light-grey-20l: #F9F9F9;
  --dfc-light-grey-25l: #F8F8F8;
  --dfc-light-grey-30l: #F7F7F7;
  --dfc-light-grey-35l: #F6F6F6;
  --dfc-light-grey-40l: #F5F5F5;
  --dfc-light-grey-45l: #F4F4F4;
  --dfc-light-grey-50l: #F3F3F3;
  --dfc-light-grey-55l: #F2F2F2;
  --dfc-light-grey-60l: #F2F2F2;
  --dfc-light-grey-65l: #F1F1F1;
  --dfc-light-grey-70l: #F0F0F0;
  --dfc-light-grey-75l: #EFEFEF;
  --dfc-light-grey-80l: #EEEEEE;
  --dfc-light-grey-85l: #EEEEEE;
  --dfc-light-grey-90l: #EEEEEE;
  --dfc-light-grey-95l: #EDEDED;
  --dfc-light-grey-100: #EDEDED;
  --dfc-light-grey-10d: #D5D5D5;
  --dfc-light-grey-20d: #BEBEBE;
  --dfc-light-grey-30d: #A6A6A6;
  --dfc-light-grey-40d: #8E8E8E;
  --dfc-light-grey-50d: #777777;
  --dfc-light-grey-60d: #5F5F5F;
  --dfc-light-grey-70d: #474747;
  --dfc-light-grey-80d: #2F2F2F;
  --dfc-light-grey-90d: #181818;
  --dfc-green-2l: #F7FBF7;
  --dfc-green-4l: #EFF6EF;
  --dfc-green-6l: #E6F2E7;
  --dfc-green-8l: #DEEEDF;
  --dfc-green-10l: #D6E9D7;
  --dfc-green-15l: #CEE5CE;
  --dfc-green-20l: #C6E1C6;
  --dfc-green-25l: #BDDCBE;
  --dfc-green-30l: #B5D8B6;
  --dfc-green-35l: #ADD3AE;
  --dfc-green-40l: #A5CFA6;
  --dfc-green-45l: #9DCB9E;
  --dfc-green-50l: #94C696;
  --dfc-green-55l: #8CC28E;
  --dfc-green-60l: #84BE85;
  --dfc-green-65l: #7CB97D;
  --dfc-green-70l: #74B575;
  --dfc-green-75l: #6BB16D;
  --dfc-green-80l: #68AF6A;
  --dfc-green-85l: #65AD67;
  --dfc-green-90l: #62AB63;
  --dfc-green-95l: #5EAA60;
  --dfc-green-100: #5BA85D;
  --dfc-green-10d: #519853;
  --dfc-green-20d: #488749;
  --dfc-green-30d: #3F7640;
  --dfc-green-40d: #366637;
  --dfc-green-50d: #2D552E;
  --dfc-green-60d: #244425;
  --dfc-green-70d: #1B331C;
  --dfc-green-80d: #122212;
  --dfc-green-90d: #091109;
  --dfc-light-green-2l: #F1FAFA;
  --dfc-light-green-4l: #E4F5F5;
  --dfc-light-green-6l: #D6F0EF;
  --dfc-light-green-8l: #C9ECEA;
  --dfc-light-green-10l: #BBE7E5;
  --dfc-light-green-15l: #ADE2E0;
  --dfc-light-green-20l: #A0DDDA;
  --dfc-light-green-25l: #92D8D5;
  --dfc-light-green-30l: #85D3D0;
  --dfc-light-green-35l: #77CFCB;
  --dfc-light-green-40l: #69CAC5;
  --dfc-light-green-45l: #5CC5C0;
  --dfc-light-green-50l: #4EC0BB;
  --dfc-light-green-55l: #42BAB4;
  --dfc-light-green-60l: #3DACA7;
  --dfc-light-green-65l: #389E9A;
  --dfc-light-green-70l: #34918D;
  --dfc-light-green-75l: #2F837F;
  --dfc-light-green-80l: #2D7E7A;
  --dfc-light-green-85l: #2B7875;
  --dfc-light-green-90l: #297370;
  --dfc-light-green-95l: #276D6A;
  --dfc-light-green-100: #256865;
  --dfc-light-green-10d: #215E5B;
  --dfc-light-green-20d: #1E5351;
  --dfc-light-green-30d: #1A4947;
  --dfc-light-green-40d: #163E3D;
  --dfc-light-green-50d: #133433;
  --dfc-light-green-60d: #0F2A28;
  --dfc-light-green-70d: #0B1F1E;
  --dfc-light-green-80d: #071514;
  --dfc-light-green-90d: #040A0A;
  --dfc-purple-2l: #F8F6F9;
  --dfc-purple-4l: #F1EEF4;
  --dfc-purple-6l: #EAE5EE;
  --dfc-purple-8l: #E4DDE8;
  --dfc-purple-10l: #DDD4E3;
  --dfc-purple-15l: #D6CCDD;
  --dfc-purple-20l: #CFC3D7;
  --dfc-purple-25l: #C8BBD2;
  --dfc-purple-30l: #C1B2CC;
  --dfc-purple-35l: #BBAAC6;
  --dfc-purple-40l: #B4A1C1;
  --dfc-purple-45l: #AD98BB;
  --dfc-purple-50l: #A690B5;
  --dfc-purple-55l: #9F87B0;
  --dfc-purple-60l: #987FAA;
  --dfc-purple-65l: #9176A5;
  --dfc-purple-70l: #8B6E9F;
  --dfc-purple-75l: #846599;
  --dfc-purple-80l: #816396;
  --dfc-purple-85l: #7E6192;
  --dfc-purple-90l: #7B5F8F;
  --dfc-purple-95l: #785C8B;
  --dfc-purple-100: #755A88;
  --dfc-purple-10d: #69517A;
  --dfc-purple-20d: #5E486D;
  --dfc-purple-30d: #523F5F;
  --dfc-purple-40d: #463652;
  --dfc-purple-50d: #3A2D44;
  --dfc-purple-60d: #2F2436;
  --dfc-purple-70d: #231B29;
  --dfc-purple-80d: #17121B;
  --dfc-purple-90d: #0C090E;
  --dfc-light-blue-2l: #FAFDFD;
  --dfc-light-blue-4l: #F5FBFC;
  --dfc-light-blue-6l: #F0F8FA;
  --dfc-light-blue-8l: #EBF6F9;
  --dfc-light-blue-10l: #E6F4F7;
  --dfc-light-blue-15l: #E0F2F6;
  --dfc-light-blue-20l: #DBF0F4;
  --dfc-light-blue-25l: #D6EDF3;
  --dfc-light-blue-30l: #D1EBF1;
  --dfc-light-blue-35l: #CCE9F0;
  --dfc-light-blue-40l: #C7E7EE;
  --dfc-light-blue-45l: #C2E5EC;
  --dfc-light-blue-50l: #BDE2EB;
  --dfc-light-blue-55l: #B8E0E9;
  --dfc-light-blue-60l: #B3DEE8;
  --dfc-light-blue-65l: #ADDCE6;
  --dfc-light-blue-70l: #A8DAE5;
  --dfc-light-blue-75l: #A3D7E3;
  --dfc-light-blue-80l: #A1D7E2;
  --dfc-light-blue-85l: #9FD6E2;
  --dfc-light-blue-90l: #9DD5E1;
  --dfc-light-blue-95l: #9BD4E1;
  --dfc-light-blue-100: #99D3E0;
  --dfc-light-blue-10d: #7CC7D7;
  --dfc-light-blue-20d: #5FBACE;
  --dfc-light-blue-30d: #42AEC6;
  --dfc-light-blue-40d: #3597AD;
  --dfc-light-blue-50d: #2C7E91;
  --dfc-light-blue-60d: #236574;
  --dfc-light-blue-70d: #1A4C57;
  --dfc-light-blue-80d: #12323A;
  --dfc-light-blue-90d: #09191D;
}